{% extends "layout.html" %}

{% block title %}
    Add cash
{% endblock %}

{% block main %}
    <form action="/add_cash" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="value" placeholder="Value" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
