{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol" id="symbol-select" class="form-control">
              {% if not symbol %}
                <option value="" disabled selected>Symbol</option>
              {% endif %}
              {% for stock in stocks %}
                <option
                  value="{{ stock.symbol }}"
                  {% if symbol and symbol == stock.symbol %}
                    selected
                  {% endif %}
                >{{ stock.symbol }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input
              class="form-control"
              name="shares"
              placeholder="Amount"
              type="text"
              {% if symbol %}
                autofocus
              {% endif %}
            >
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
